#include "cases.h"

MYMENU MENU {
	POPUP "&File" {
		MENUITEM "&Exit", IDM_EXIT
	}
	POPUP "&Port" {
		MENUITEM "&COM1", IDM_COM1
		MENUITEM "&COM2", IDM_COM2
		MENUITEM "&COM3", IDM_COM3
		MENUITEM "&COM4", IDM_COM4
		MENUITEM "&COM5", IDM_COM5
		MENUITEM "&COM6", IDM_COM6
		MENUITEM "&COM7", IDM_COM7
		MENUITEM "&COM8", IDM_COM8
		MENUITEM "&COM9", IDM_COM9
	}
	POPUP "&Connection" {
		MENUITEM "&Connect", IDM_CONNECT
		MENUITEM "&Disconnect", IDM_DCONNECT
	}
	MENUITEM "&Help", IDM_HELP
}