<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/lab05/src/a00683006/labs/SimpleTextEditor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="a00683006.labs.SimpleTextEditor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lab05"/>
</launchConfiguration>
