<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="XenoConnect"
         connectionString="Data Source=XENOWIN\SQLEXPRESS;user id=ironix;password=trustno1;initial catalog=Northwind;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>