Submission Requirements
========================

All submissions MUST adhere to the following requirements otherwise -15% will be applied to the submission.

1. Title page with names of BOTH students and the SET clearly labelled along with the assignment number and course
2. Name, set, and assignment number given as a footer or header on EACH PAGE
3. Students must submit work in pairs (a single group of 3 if there exists an uneven number of students in set)
4. Work must be submitted on time. Each additional day late counts as -10%
5. Work must be typed and electronically submitted to sharein in the appropriate folder. If no such folder exists,
the first student to submit the folder should create the required folder.
6. Do not email your assignment unless sharein is not functional (verify it's not just your connection first)
7. Include the complete question along with your answer, in original order.