@charset "UTF-8";
/* CSS Document */
td,th {
	background-color: #FFFF99;
}
body {
	background-color: #FFFFCC;
}

/* Make a dotted box around the tabs */
div.borderBox {
	border: #603 dotted;
	padding: 0.6em;
	margin: 1em 2em
}

/* Tabbed example */
div.tabs {
	min-height: 7em;		/* No height: can grow if :target doesn't work */
	position: relative;		/* Establish a containing block */
	line-height: 1;			/* Easier to calculate with */
	z-index: 0				/* So that we can put other things behind */
}

div.tabs > div {
	display: inline			/* We want the buttons all on one line */
}

div.tabs > div > a {
	color: black;						/* Looks more like a button than a link */
	background: #CCC;					/* Active border colour */
	padding: 0.2em;						/* Some breathing space */
	border: 0.1em outset #BBB;			/* Make it look like a button */
	border-bottom: 0.1em solid #CCC		/* Visually connect tab and tab body */
}

div.tabs > div:not(:target) > a {
	border-bottom: none;				/* Make the bottom border disappear */
	background: #FFFFDD					/* Inactive tabs colour */
}

div.tabs > div:target > a,				/* Apply to the targeted item or... */
:target #lastTab > a {					/* ... to the default item */
	border-bottom: 0.1em solid #FFFF99;	/* Visually connect tab and tab body */
	background: #FFFF99					/* Active tab background */
}

div.tabs > div > div {
	background: #FFFF99;		/* Active tab contents */
	z-index: -2;				/* Behind, because the borders overlap */
	left: 0; top: 1.3em;		/* The top needs some calculation... */
	bottom: 0; right: 0;		/* Other sides flush with containing block */
	overflow: auto;				/* Scroll bar if needed */
	padding: 0.3em;				/* Looks better */
	border: 0.1em outset #BBB	/* 3D look */
}

div.tabs > div:not(:target) > div {		/* Protect CSS1 & CSS2 browsers */
	position: absolute					/* All these DIVs overlap */
}

div.tabs > div:target > div, :target #lastTab > div {
	position: absolute;		/* All these DIVs overlap */
	z-index: -1				/* Raise it above the others */
}