contact {
  display:block;
  width:275px;
  margin-bottom:10px;
  border:5px double black;
  color:black;
  background-color:yellow;
  text-align:center;
}

name {
  display:block;
  font-family:Times, serif;
  font-size:15pt;
  font-weight:bold;
}

address {
  display:block;
  font-family:Times, serif;
  font-size:13pt;
}

city, state, zip {
  display:inline;
  font-family:Times, serif;
  font-size:13pt;
}

phone, company {
  display:none;
}
