@charset "UTF-8";
/* CSS Document */

#marqueecontainer{
	position: relative;
	width: 200px; /*marquee width */
	height: 200px; /*marquee height */
	background-color: white;
	overflow: hidden;
	border: 3px solid orange;
	padding: 2px;
	padding-left: 4px;
}